<h2> Amortization Schedule Calculator </h2><br>
<div class="login_div">
  <div class="login_form">

    <%= form_for @loan do |f| %>
      <%= render 'shared/error_messages', object: @loan  %>
      <%= f.label :loan_amount %><br> 
      <%= f.text_field :loan_amount, class: 'form-control' %>
  
      <%= f.label :term %><br>
      <%= f.text_field :term, class: 'form-control' %>

      <%= f.label :interest_rate %><br> 
      <%= f.text_field :interest_rate, class: 'form-control' %>

      <%= f.label :amortization_type %><br> 
      <%= f.select :amortization_type, options_for_select(@amortization_type.each {|type|}), class: 'form-control' %><br>

      <%= f.label :request_date %><br>
      <%=  f.date_select :request_date, {:order => [:month, :day, :year],:prompt => true, :start_year => Time.now.year, :end_year => 2000}, class: 'form-control' %><br>

      <%= f.submit "Generate Amortization schedule", class: "btn btn-primary"  %>

    <% end %>
  </div>
</div>  